.light-mode{
  background-color: white;
  color:black;
  width:500px;
  height:350px;
  padding:20px;
}
.dark-mode{
  background-color: black;
  color:white;
    width:500px;
  height:350px;
   padding:20px;
}
body{
    margin:0% 10%;
    padding:3%;
}