.container {
  margin-left: 30%;
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.projectthree{
  font-size: 35px;
  color:#7a640b;
  text-align: center;
}
.dark-light {
 background: linear-gradient(
    to right,
    #2c3e50 0%,
    #2c3e50 25%,
    #f1c40f 75%,
    #f1c40f 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  background-size: 200% auto;
  animation: gradient-flow 2s linear infinite;
}

@keyframes gradient-flow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.container.light {
  background-color: #ffffff;
  border: 2px solid #ffd700;
}

.container.dark {
  background-color: #2c3e50;
  border: 2px solid #bdc3c7;
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 15px;
}

.icon-container {
  position: relative;
  width: 50px;
  height: 50px;
}

.icon {
  position: absolute;
  transition: all 0.3s ease;
}


.icon-container.sun .icon {
  width: 40px;
  height: 40px;
  background: #ffd700;
  border-radius: 50%;
  box-shadow: 0 0 20px #ffd700;
}


.icon-container.moon .icon {
  width: 40px;
  height: 40px;
  background: #bdc3c7;
  border-radius: 50%;
  box-shadow:
    0 0 20px #bdc3c7,
    inset -10px -5px 0 0 rgba(0, 0, 0, 0.2);
}


.icon-container.sun .icon::after {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  background:
    linear-gradient(0deg, #ffd70033 0%, transparent 15%),
    linear-gradient(90deg, #ffd70033 0%, transparent 15%),
    linear-gradient(180deg, #ffd70033 0%, transparent 15%),
    linear-gradient(270deg, #ffd70033 0%, transparent 15%);
  border-radius: 50%;
}

@media (max-width: 767px) {
  .container {
  margin-left: 10%;
  width: 250px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 0.3s ease;
}
  }
