.app-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f7ff;
  
}

.counter-box {
  max-width: 600px;
  width: 100%;
  background: #73b4df;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #0e660e;
}

.text-input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  resize: vertical;
  margin-bottom: 20px;
}

.info-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 15px;
  margin-bottom: 20px;

 
}
.info-box > div{
  border: 2px solid rgb(180, 46, 91);
  width:135px;
  height:30px;
  border-radius: 20px;
  text-align: center;
 padding-top: 3%;
 background-color: bisque;

}
.info-box > div:hover{
  background-color: rgb(187, 147, 99);
}

.warning {
  color: red;
  margin-bottom: 10px;
  font-weight: bold;
}

.button-box {
  text-align: right;
}

.reset-button {
  padding: 10px 20px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.reset-button:hover {
  background-color: #c0392b;
}